.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button-container button,
.button-container a {
    width: 200px;
    margin: 0 0.5rem;
    text-align: center;
}

.button-container button,
.button-container a {
    width: 200px;
    margin: 0 0.5rem;
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.title-container {
    display: flex;
    justify-content: center;
}
.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.custom-line-height {
    line-height: 1.6;
}

.status-text {
    font-weight: bold;
    font-size: 14px;
    margin-top: 0.5rem;
}

.bottom-nav-button {
    width: 100%;
    text-align: center;
    background-color: #7b838a;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-nav-button:hover {
    background-color: #6b747a; /* ボタンのhover時の色 */
}

.bottom-nav-divider {
    border-right: 1px solid white;
}

.bottom-nav-container {
    z-index: 1000;
}

.active-nav-button {
    background-color: #ffa500;
    color: #ffffff;
}

.active-link {
    border-bottom: 2px solid #4f46e5;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .button-container {
        flex-direction: column;
    }

    .button-container button,
    .button-container a {
        margin: 0.5rem 0;
    }

    .settings-btn-container {
        justify-content: flex-end;
    }
}
